{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "AllowCloudWatchWrite",
            "Effect": "Allow",
            "Action": [
                "logs:CreateLogGroup",
                "logs:CreateLogStream",
                "logs:PutLogEvents",
                "logs:TagResource",
                "logs:PutRetentionPolicy",
                "logs:DeleteLogGroup"
            ],
            "Resource": "*"
        },
        {
            "Sid": "AllowIAMAccess",
            "Effect": "Allow",
            "Action": [
                "iam:*"
            ],
            "Resource": [
                "arn:aws:iam::{{ .Account.Id }}:policy/*",
                "arn:aws:iam::{{ .Account.Id }}:role/*",
                "arn:aws:iam::{{ .Account.Id }}:role/AWSLambdaVPCAccessExecutionRole",
                "arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole"
            ]
        },
        {
            "Sid": "AllowSSM",
            "Effect": "Allow",
            "Action": [
                "ssm:GetParameter*"
            ],
            "Resource": "*"
        },
        {
            "Sid": "AllowEC2Read",
            "Effect": "Allow",
            "Action": [
                "ec2:Describe*",
                "ec2:List*",
                "ec2:Get*"
            ],
            "Resource": "*"
        },
        {
            "Sid": "AllowLambda",
            "Effect": "Allow",
            "Action": [
                "lambda:*"
            ],
            "Resource": "*"
        },
        {
            "Sid": "AllowECR",
            "Effect": "Allow",
            "Action": [
                "ecr:Describe*",
                "ecr:List*",
                "ecr:Get*",
                "ecr:BatchGet*",
                "ecr:BatchCheck*",
                "ecr:SetRepositoryPolicy"
            ],
            "Resource": "*"
        },
        {
            "Sid": "AllowEventBridge",
            "Effect": "Allow",
            "Action": [
                "events:*"
            ],
            "Resource": "*"
        },
        {
            "Sid": "AllowAPIGateway",
            "Effect": "Allow",
            "Action": [
                "apigateway:GET",
                "apigateway:POST",
                "apigateway:DELETE",
                "apigateway:PATCH"
            ],
            "Resource": "*"
        }
    ]
}