{
  "source": [
    "monad",
    "main"
  ],
  "detail-type": [
    "monad.DeployRequest",
    "monad.DestroyRequest"
  ],
  "detail": {
    "header": {
      "destination": [ "{{ .Account.Name }}" ]
    }
  }
}