{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "AllowLogWrite",
            "Effect": "Allow",
            "Action": [
                "logs:CreateLogGroup",
                "logs:CreateLogStream",
                "logs:PutLogEvents",
                "logs:Describe*",
                "logs:Get*",
                "logs:List*"
            ],
            "Resource": [
                "arn:aws:logs:{{.Account.Region}}:{{.Account.Id}}:log-group:/aws/lambda/{{.Resource.Name}}*",
                "arn:aws:logs:{{.Account.Region}}:{{.Account.Id}}:log-group:/aws/lambda/{{.Resource.Name}}:log-stream:*"
            ]
        },
        {
            "Sid": "AllowLambdaIntrospection",
            "Effect": "Allow",
            "Action": [
                "lambda:GetFunction",
                "lambda:GetFunctionConfiguration"
            ],
            "Resource": "arn:aws:lambda:{{.Account.Region}}:{{.Account.Id}}:function:{{.Resource.Name}}"
        },
        {
            "Sid": "AllowIAMIntrospection",
            "Effect": "Allow",
            "Action": [
                "iam:ListAttachedRolePolicies",
                "iam:ListRolePolicies",
                "iam:GetRole",
                "iam:GetPolicy",
                "iam:GetPolicyVersion"
            ],
            "Resource": [
                "arn:aws:iam::{{.Account.Id}}:policy/{{.Resource.Name}}",
                "arn:aws:iam::{{.Account.Id}}:role/{{.Resource.Name}}"
            ]
        }
    ]
}