{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "AllowLogWrite",
            "Effect": "Allow",
            "Action": [
                "logs:CreateLogGroup",
                "logs:CreateLogStream",
                "logs:PutLogEvents",
                "logs:Describe*",
                "logs:Get*",
                "logs:List*"
            ],
            "Resource": [
                "{{.Cloudwatch.LogGroup.Arn}}*",
                "{{.Cloudwatch.LogGroup.Arn}}:log-stream:*"
            ]
        },
        {
            "Sid": "AllowLambdaIntrospection",
            "Effect": "Allow",
            "Action": [
                "lambda:GetFunction",
                "lambda:GetFunctionConfiguration"
            ],
            "Resource": "{{.Lambda.FunctionArn}}"
        },
        {
            "Sid": "AllowIAMIntrospection",
            "Effect": "Allow",
            "Action": [
                "iam:ListAttachedRolePolicies",
                "iam:ListRolePolicies",
                "iam:GetRole",
                "iam:GetPolicy",
                "iam:GetPolicyVersion"
            ],
            "Resource": [
                "{{.Lambda.PolicyArn}}",
                "{{.Lambda.RoleArn}}"
            ]
        }
    ]
}