{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "AllowAccessLoose",
            "Effect": "Allow",
            "Action": [
                "logs:*"
            ],
            "Resource": "arn:aws:logs:{{.Lambda.Region}}:{{.Caller.AccountId}}:log-group:{{.CloudwatchLogGroup}}*"
        }
    ]
}