{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "AllowLogWrite",
            "Effect": "Allow",
            "Action": [
                "logs:*",
            ],
            "Resource": [
                "{{.Cloudwatch.LogGroupArn}}*",
                "{{.Cloudwatch.LogGroupArn}}:log-stream:*"
            ]
        }
    ]
}