svg {
    margin: 0 !important;
}

svg path {
    filter: grayscale(100%) brightness(1.5) contrast(1.5);
}

.architecture-service>g>g>svg>rect,
.architecture-service>g>g>svg>g>rect:first-child,
.architecture-service svg path[d^="M0 0h"] {
    fill: transparent !important;
    opacity: 0.2 !important;
}

.architecture-service path:not([d^="M0 0h"]) {
    stroke: white;
}

.node-bkg {
    stroke-dasharray: none !important;
    stroke: transparent !important;
}